<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>UserDetails</title>
<script src="./js/angular.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css"></link>
<link rel="stylesheet" href="./css/userhome.css"></link>
<script src="./js/usercontroller.js"></script>
<script src="./js/userservice.js"></script>
<link rel="icon" href="./images/register.png" type="image/gif" sizes="16x16">
</head>
<body>
	<div ng-app="empform" ng-controller="empController as empc">
		<div class="col-md-4 col-md-offset-3">
			<h2>User Details</h2>
			<br>
			<form role="form" name="loginform" ng-submit="addUser(loginform.$valid)"
				novalidate="novalidate">
				<div class="form-group" >
					<label for="firstName">FirstName:</label> <input type="text"
						placeholder="Enter Name" class="form-control" id="firstName"
						name="firstName" ng-model="empc.user.firstName" ng-maxlength="15"
						ng-required="true" ng-pattern="/^[a-zA-Z]*$/" /> <span
						ng-show=" loginform.firstName.$error.maxlength && (!loginform.$pristine|| loginform.$submitted)">First 
						Name not allowed more than 15 char's.</span> <span
						ng-show=" loginform.firstName.$error.pattern && (!loginform.$pristine|| loginform.$submitted)">Enter
						only Alphabets.</span>
				</div>
				<div class="form-group" >
					<label for="lastName">LastName:</label> <input type="text"
						placeholder="Enter LastName" class="form-control" id="lastName"
						name="lastName" ng-model="empc.user.lastName" ng-maxlength="20"
						ng-required="true" ng-pattern="/^[a-zA-Z]*$/" /> <span
						ng-show=" loginform.lastName.$error.maxlength && (!loginform.$pristine|| loginform.$submitted)">Last
						Name not allowed more than 20 char's.</span> <span
						ng-show=" loginform.lastName.$error.pattern && (!loginform.$pristine|| loginform.$submitted)">Enter
						only Alphabets.</span>
				</div>
				<div class="form-group">
					<label for="userName">UserName:</label> <input type="text"
						placeholder="Enter UserName" class="form-control" id="userName"
						name="userName" ng-model="empc.user.userName" ng-maxlength="10" ng-minlength="5"
						ng-required="true" ng-pattern="/^[a-zA-Z0-9]*$/" ng-change="usernameexsist()"/> <span 
						ng-show=" loginform.userName.$error.maxlength && (!loginform.$pristine|| loginform.$submitted)">User
						Name not allowed more than 10 char's.</span>  <span 
						ng-show=" loginform.userName.$error.minlength && (!loginform.$pristine|| loginform.$submitted)">User
						Name must be more than 5 char's.</span><span
						ng-show=" loginform.userName.$error.pattern && (!loginform.$pristine|| loginform.$submitted)">Enter
						only Alpha-Numeric values.</span>
						<span  ng-bind="usernameerror" >
				</div>
				<div class="form-group">
					<label for="age">Age:</label> <input type="number"
						placeholder="Enter Age" class="form-control" id="age" name="age"
						ng-model="empc.user.age" min="18" max="99" ng-required="true" />
						<span 
						ng-show=" loginform.age.$error.min && (!loginform.$pristine|| loginform.$submitted)">You
						must be atleast 18 years old.</span> <span
						ng-show=" loginform.age.$error.max && (!loginform.$pristine|| loginform.$submitted)">Age
						shouldn't be more than 99 years.</span>
				</div>
				<div class="form-group">
					<label for="idNo">Identification Number:</label> <input type="text"
						placeholder="Enter any id card no like Adhar/Pan card "
						class="form-control" id="idNo" name="idNo"
						ng-model="empc.user.idNo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-required="true"   ng-change="useridexsist()"/>
						<span 
						ng-show=" loginform.idNo.$error.pattern && (!loginform.$pristine|| loginform.$submitted)">Enter
						only Alpha-Numeric values.</span>
						<span  ng-bind="idnoerror" >
				</div>
				<div class="form-group">
					<label for="mobileNo">Mobile Number:</label> <input type="text"
						placeholder="Enter Mobile Number "
						class="form-control" id="mobileNo" name="mobileNo"
						ng-model="empc.user.mobileNo" ng-pattern="/^[0-9]*$/" 
						ng-minlength = "10" ng-maxlength="10"
						ng-required="true"   ng-change="mobilenoexsist()" />
						<span 
						ng-show=" loginform.mobileNo.$error.pattern && (!loginform.$pristine|| loginform.$submitted)">Enter
						only Numeric values.</span>
						 <span 
						ng-show=" loginform.mobileNo.$error.minlength && (!loginform.$pristine|| loginform.$submitted)">Please enter atleast 10 numbers .</span>
						 <span 
						ng-show=" loginform.mobileNo.$error.maxlength && (!loginform.$pristine|| loginform.$submitted)">Please enter only max 10 numbers .</span> 
						<span  ng-bind="mobilenoerror" >
				</div>
				<div class="form-group">
					<label for="sex">Sex:</label> <select type="text"
						class="form-control" id="sex" name="sex" ng-model="empc.user.sex"
						required>
						<option value="">Please choose</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="form-group">
					<label for="address">Address:</label> <textarea
						placeholder="Enter Address" class="form-control"
						id="address" name="address" rows="4" cols="50"
						ng-model="empc.user.address" ng-required="true" >
					</textarea>
				</div>
				<button type="submit"  ng-disabled="loginform.$invalid" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>