input.ng-invalid.ng-touched {
	border: 2px solid red;
}
span{
	 color: red;
}
.grid {
		  width: 850px;
		  height: 250px;
}
.ui-grid-header-canvas{
    background-color: black;
    color: white;
}
.userGrid {
		  width: 1000px;
		  height: 500px;
}
